
<h1>Home</h1>

<div class="productsContainer">
    {{#each products}}
        <div class="cardContainer">
            <h2>{{title}}</h2>
            <p>{{description}}</p>
            <h3>{{price}}</h3>
        </div>
    {{/each}}
</div>
